* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

u {
    text-decoration: underline;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1E90FF;
}

.menu-image {
    margin-top: 2rem;
}

#menu-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.header-paragraph {
    margin-top: 40px;
    color: #fff;
}
@media (max-width: 425px) {
    .header-paragraph {
        display: none;
    }
}

.button-social {
    height: 35px;
    margin: 30px 20px;
    width: 93px;
    background-color: #fff;
    color: #4682B4;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}
@media (max-width: 1024px) {
    .button-social {
        display: none;
    }
}

.link-facebook {
    color: #4682B4;
}
.link-twitter {
    color: #1E90FF;
}

.image-button {
    width: 18px;
}
/*MENU*/
.dropbtn {
    background-color: #1E90FF;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .dropbtn {
        margin-top: 2rem;
    }
}
  
#myDropdown {
    display: none;
    position: absolute;
    background-color: #1E90FF;
    z-index: 1;
}
  
.dropdown-content a {
    display: block;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
}

#myDropdown.show {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: #1E90FF;
    text-transform: uppercase;
}
/*FIM DO MENU*/
/*FIM DO HEADER*/

/*SLIDE*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 5rem 0 0 9rem;
}
@media (max-width: 1024px) {
    .slideshow-container {
        margin: 4rem 0 0 6rem;
    }
}
@media (max-width: 768px) {
    .slideshow-container {
        margin: 3rem 0 0 5rem;
    }
}
@media (max-width: 425px) {
    .slideshow-container {
        margin: 3rem 0 0 17px;
    }
}
@media (max-width: 320px) {
    .slideshow-container {
        margin: 3rem 0 0 14px;
    }
}
  
.slide-title {
    margin: 1rem;
    background-color: #1E90FF;
    width: 254px;
    font-size: 18px;
    padding: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.slide-paragraph {
    font-size: 22px;
    margin-left: 1rem;
    font-weight: 600;
}
@media (max-width: 425px) {
    .slide-paragraph {
        display: none;
    }
}

.mySlides {
    display: none;
}

.image-slide {
    width: 100%;
}
@media (max-width: 1024px) {
    .image-slide {
        width: 90%;
    }
}
@media (max-width: 425px) {
    .image-slide {
        width: 95%;
    }
}

.prev {
    position: absolute;
    top: 11rem;
    color: #000;
    width: 43px;
    border: solid 1px gray;
    left: -1rem;
    border-radius: 50px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .prev {
        top: 9rem;
    }
}
@media (max-width: 768px) {
    .prev {
        top: 6rem;
    }
}
@media (max-width: 425px) {
    .prev {
        display: none;
    }
}

.arrow-image {
    margin-left: 7px;
}
  
.next {
    position: absolute;
    top: 11rem;
    color: #000;
    width: 43px;
    border: solid 1px gray;
    right: -1rem;
    border-radius: 50px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .next {
        top: 9rem;
        right: 5rem;
    }
}
@media (max-width: 768px) {
    .next {
        top: 6rem;
        right: 3rem;
    }
}
@media (max-width: 425px) {
    .next {
        display: none;
    }
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #1E90FF;
}
  
/*animation*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*FIM DO SLIDE*/

/*INICIO DE SECTION*/
.top-title {
    color: #36648B;
    margin: 50px 0 30px 95px;
}

.block-top-image {
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 425px) {
    .block-top-image {
        flex-wrap: wrap;
    }
}

.image-pindureta {
    background-image: url(assets/highlight-01.png);
    width: 360px;
}
@media (max-width: 1024px) {
    .image-pindureta {
        margin: 5px;
    }
}

.image-bolis {
    background-image: url(assets/highlight-02.png);
    width: 360px;
}
@media (max-width: 1024px) {
    .image-bolis {
        margin: 5px;
    }
}

.image-sapien {
    background-image: url(assets/highlight-03.png); 
    width: 360px;   
}
@media (max-width: 1024px) {
    .image-sapien {
        margin: 5px;
    }
}

.top-paragraph {
    color: #fff;
    background-color: rgba(255,0,0,0.7);
    width: 95px;
    height: 30px;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.block-top-paragraph {
    margin-top: 11rem;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.divoltis-porris-title {
    color: #36648B;
    margin: 50px 0 30px 95px;
}

.block-divoltis {
    display: flex;
    width: 61vw;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .block-divoltis {
        width: 81vw;
        margin-left: 4rem;
    }
}
@media (max-width: 375px) {
    .block-divoltis {
        margin-left: 2rem;
    }
}
@media (max-width: 320px) {
    .block-divoltis {
        width: 70vw;
        margin-left: 0;
    }
}

.block-divoltis-consetis-matis {
    border-bottom: solid 1px gray;
    margin-bottom: 2rem;
    height: 310px;
}

.block-divoltis-img-paragraph {
    margin-left: 35px;
    border-bottom: solid 1px gray;
    margin-bottom: 2rem;
    height: 310px;
}
@media (max-width: 1024px) {
    .block-divoltis-img-paragraph {
        margin-left: 0;
    }
}

.block-divoltis-aside {
    display: flex;
    justify-content: space-evenly;
}

.image-matis {
    width: 360px;
}
@media (max-width: 1024px) {
    .image-matis , .image-consetis, .image-aenean{
        width: 300px;
    }
}
@media (max-width: 320px) {
    .image-matis , .image-consetis, .image-aenean{
        width: 260px;
    }
}

.divoltis-paragraph {
    width: 310px;
    color: #36648B;
}
@media (max-width: 320px) {
    .divoltis-paragraph {
        width: 260px;
    }
}

@media (max-width: 768px) {
    .desktop-ads {
        display: none;
    }
}

.image-divinis {
    width: 360px;
    height: 202px;
}
@media (max-width: 1024px) {
    .image-divinis {
        width: 300px;
        height: 168px;
    }
}
@media (max-width: 320px) {
    .image-divinis {
        width: 260px;
    }
}

.divoltis-title {
    color: #1E90FF;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.block-divs {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
@media (max-width: 768px) {
    .block-divs {
        flex-wrap: wrap;
        height: 60rem;
    }
}
@media (max-width: 425px) {
    .block-divs {
        height: 80rem;
    }
}
@media (max-width: 320px) {
    .block-divs {
        height: 90rem;
    }
}

@media (max-width: 768px) {
    .container-divs {
        width: 30rem;
    }
}
@media (max-width: 425px) {
    .container-divs {
        width: 22rem;
    }
}
@media (max-width: 320px) {
    .container-divs {
        width: 15rem;
    }
}

.block-border-title {
    border-bottom: solid 1px gray;
    margin: 0 0 1rem 0;
}
.block-border-title p {
    color: #36648B;
}

.block-border {
    border-bottom: solid 1px gray;
    margin: 2.5rem 0 0 0;
}
.block-border p {
    color: #36648B;
}
@media (max-width: 768px) {
    .block-border p {
        font-size: 20px;
    }
}

.block-border-paragraph {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .block-border-paragraph {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .container-picture {
        margin-top: 3rem;
    }
}

.paisis-title {
    color: #1E90FF;
    margin: 0 0 20px 0;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/


.picture-title {
    color: rgba(255,0,0,0.7);
}
@media (max-width: 320px) {
    .picture-title {
        margin-left: 2rem;
    }
}

.block-picture-img-paragraph {
    display: flex;
    margin-top: 20px;
}

.block-subtitle-paragraph {
    margin-left: 20px;
}
@media (max-width: 320px) {
    .block-subtitle-paragraph {
        margin-left: 10px;
    }
}

.picture-subtitle {
    color: rgba(255,0,0,0.7);
    text-transform: uppercase;
}

.picture-paragraph {
    color: #36648B;
    width: 160px;
}
@media (max-width: 320px) {
    .picture-paragraph {
        width: 141px;
    }
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.mobile-ads {
    display: none;
}
@media (max-width: 768px) {
    .mobile-ads {
        display: flex;
    }
}

@media (max-width: 768px) {
    .image-ads-mobile {
        margin: 5rem 0 5rem 15rem;
    }
}
@media (max-width: 425px) {
    .image-ads-mobile {
        margin: 8rem 0 4rem 4rem;
    }
}
@media (max-width: 375px) {
    .image-ads-mobile {
        margin: 8rem 0 4rem 2.5rem;
    }
}
@media (max-width: 320px) {
    .image-ads-mobile {
        width: 280px;
        margin: 8rem 0 4rem 1rem;
    }
}

.back-topo {
    background-color: #1E90FF;
    height: 40px;
}

.back-topo-link {
    color: #fff;
}

.back-topo-paragraph {
    text-align: end;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}
/*FIM DE SECTION*/

/*INICIO DO FOOTER*/
footer {
    background-color: #283c4f;
}

.block-footer {
    display: flex;
    justify-content: space-evenly;
}

.footer-title {
    color: #fff;
    font-size: 50px;
    margin-top: 1.5rem;
}

.footer-paragraph {
    width: 50rem;
    color: #fff;
    margin: 3rem 0 2rem 0;
}
@media (max-width: 768px) {
    .footer-paragraph {
        margin: 3rem 0 2rem 2rem;
    }
}

@media (max-width: 768px) {
    .image-footer {
        display: none;
    }
}
/*FIM DO FOOTER*/