* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*INICIO DO HEADER*/
header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1E90FF;
}

.menu-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.header-paragraph {
    margin-top: 40px;
    color: #fff;
}

button {
    height: 35px;
    margin: 30px 20px;
    width: 93px;
    background-color: #fff;
    color: #4682B4;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.link-facebook {
    color: #4682B4;
}
.link-twitter {
    color: #1E90FF;
}

.image-button {
    width: 25px;
}
/*FIM DO HEADER*/

/*SLIDE*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 5rem 0 0 12rem;
  }
  
.slide-title {
    margin: 1rem;
    background-color: #1E90FF;
    width: 254px;
    font-size: 18px;
    padding: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.slide-paragraph {
    font-size: 22px;
    margin-left: 1rem;
    font-weight: 600;
}

  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /*previous button*/
  .prev {
    position: absolute;
    top: 10rem;
    color: #000;
    width: 43px;
    border: solid 1px gray;
    left: -1rem;
    border-radius: 50px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
  }

  .arrow-image {
      margin-left: 7px;
  }
  
  /*next button*/
  .next {
    position: absolute;
    top: 10rem;
    color: #000;
    width: 43px;
    border: solid 1px gray;
    right: -1rem;
    border-radius: 50px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* block text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #1E90FF;
  }
  
  /*animation*/
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*SLIDE*/

/*INICIO DE SECTION*/
.top-title {
    color: #36648B;
    margin: 50px 0 30px 95px;
}

.block-top-image {
    display: flex;
    justify-content: space-evenly;
}

.image-pindureta {
    background-image: url(assets/highlight-01.png);
    width: 360px;
}

.image-bolis {
    background-image: url(assets/highlight-02.png);
    width: 360px;
}

.image-sapien {
    background-image: url(assets/highlight-03.png); 
    width: 360px;   
}

.top-paragraph {
    color: #fff;
    background-color: rgba(255,0,0,0.7);
    width: 95px;
    height: 30px;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.block-top-paragraph {
    margin-top: 11rem;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.divoltis-porris-title {
    color: #36648B;
    margin: 50px 0 30px 95px;
}

.block-divoltis {
    display: flex;
    width: 61vw;
    flex-wrap: wrap;
}

.block-divoltis-consetis-matis {
    border-bottom: solid 1px gray;
    margin-bottom: 2rem;
    height: 310px;
}

.block-divoltis-img-paragraph {
    margin-left: 35px;
    border-bottom: solid 1px gray;
    margin-bottom: 2rem;
    height: 310px;
}

.block-divoltis-aside {
    display: flex;
    justify-content: space-evenly;
}

.image-matis {
    width: 360px;
}

.divoltis-paragraph {
    width: 310px;
    color: #36648B;
}

.image-divinis {
    width: 360px;
    height: 202px;
}

.divoltis-title {
    color: #1E90FF;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.block-divs {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.block-border-title {
    border-bottom: solid 1px gray;
    margin: 0 0 1rem 0;
}
.block-border-title p {
    color: #36648B;
}

.block-border {
    border-bottom: solid 1px gray;
    margin: 2.5rem 0 0 0;
}
.block-border p {
    color: #36648B;
}

.block-border-paragraph {
    margin-bottom: 10px;
}

.paisis-title {
    color: #1E90FF;
    margin: 0 0 20px 0;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.picture-title {
    color: rgba(255,0,0,0.7);
}

.block-picture-img-paragraph {
    display: flex;
    margin-top: 20px;
}

.block-subtitle-paragraph {
    margin-left: 20px;
}

.picture-subtitle {
    color: rgba(255,0,0,0.7);
    text-transform: uppercase;
}

.picture-paragraph {
    color: #36648B;
    width: 160px;
}
/*FIM DE SECTION*/

/*INICIO DE SECTION*/
.mobile-ads {
    display: none;
}

.back-topo {
    background-color: #1E90FF;
    height: 40px;
}

.back-topo-link {
    color: #fff;
}

.back-topo-paragraph {
    text-align: end;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}
/*FIM DE SECTION*/

/*INICIO DO FOOTER*/
footer {
    background-color: #283c4f;
}

.block-footer {
    display: flex;
    justify-content: space-evenly;
}

.footer-title {
    color: #fff;
    font-size: 50px;
    margin-top: 1.5rem;
}

.footer-paragraph {
    width: 50rem;
    color: #fff;
    margin-top: 3rem;
}

/*FIM DO FOOTER*/
